# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
ENV/
env/
.venv/

# Django
*.log
local_settings.py
media/

# Draw.io diagrams
thrill_frame_web_portfolio_servis/thrill_frame_app/database_schema.drawio

# IDE та редактори
.vscode/
.pycharm/
.idea/
*.swp
*.swo

# Операційна система
.DS_Store
Thumbs.db
