{% load static %}
<header class="fixed-top mt-2 mt-lg-3 px-2 px-md-3">
    <nav class="navbar navbar-expand-lg custom-floating-nav container py-2 px-3 px-lg-4 shadow-lg">

        <div class="nav-spacer d-lg-none"></div>

        <a class="navbar-brand mx-auto mx-lg-0 me-lg-4 transition-all" href="{% url 'thrill_frame_app:home' %}">
            <img src="{% static 'thrill_frame_app/images/logo.png' %}" alt="Thrill Frame Logo" width="48" height="48" class="nav-logo rounded-circle">
        </a>

        <button class="navbar-toggler border-0 text-white shadow-none p-1" type="button" data-bs-toggle="collapse" data-bs-target="#thrillNav" aria-controls="thrillNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-grid-3x3-gap-fill fs-2 text-white-50"></i>
        </button>

        <div class="collapse navbar-collapse w-100" id="thrillNav">

            <ul class="navbar-nav me-auto align-items-center text-center pt-3 pt-lg-0 mt-2 mt-lg-0">
                <li class="nav-item">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'thrill_frame_app:login' %}?next={{ request.path }}" class="nav-link-btn text-decoration-none">
                            Увійти
                        </a>
                    {% else %}
                        <div class="d-flex align-items-center gap-2">
                            <span class="user-gradient-name">
                                {{ user.username }}
                            </span>
                            <a href="{% url 'thrill_frame_app:logout' %}?next={{ request.path }}" class="logout-icon-btn text-decoration-none" title="Вийти з акаунта">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                            </a>
                        </div>
                    {% endif %}
                </li>
            </ul>

            <ul class="navbar-nav align-items-center gap-lg-2 text-center mt-3 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-custom" href="{% url 'thrill_frame_app:home' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom" href="{% url 'thrill_frame_app:video_page' %}">Відео</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom" href="{% url 'thrill_frame_app:photos_list' %}">Фотосесії</a>
                </li>
                <li class="nav-item ms-lg-2 mt-3 mt-lg-0 w-100 w-lg-auto">
                    <a href="{% url 'thrill_frame_app:contact' %}" class="btn btn-cta-glow rounded-pill px-4 py-2 w-100 w-lg-auto">
                        <span>Зв'язатися</span>
                        <i class="bi bi-arrow-up-right-short fs-5 ms-1"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</header>
